{% extends 'base.html' %}

{% block content %}
    <form method="post">
        <label for="nome">Nome</label>
        <br>
        <input type="text" name="nome"
               placeholder="Nome do usuário para cadastrar a chave"
               value="{{ request.form['nome'] }}"></input>
        <br>

        <label for="chave">Chave</label>
        <br>
        <input type="text" name="chave"
               placeholder="Chave a ser cadastrada"
               value="{{ request.form['chave'] }}"></input>
        <br>
        <button type="submit">Cadastrar</button>
    </form>
{% endblock %}