{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Saldo</th>
        <th>Chave Pix</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/api/data',
        serverSide: true,
        columns: [
          {data: 'nome'},
          {data: 'saldo'},
          {data: 'chavePix'}
        ],
        "rowCallback": function( row, data, index ) {
        },
        lengthMenu: [
            [25, 50, -1],
            [25, 50, 'All'],
        ],        
      });
    });
  </script>
{% endblock %}
